body {
    margin: 0; 
    height: 100vh; 
}

.grid-container {
   display: grid;
   grid-template-columns: 1fr 1.2fr 1.5fr;
   grid-template-rows: 1fr 4fr 3fr 1fr; 
   grid-template-areas: "header header header" "pic1 pic2 pic3" "pic4 pic5 pic6" "footer footer footer"; 
   height: 100vh;
   margin: 2em;

}

header {
   grid-area: header;
   background: #0c2bd9;
}

section.pic1 {
    grid-area: pic1;
    background: yellow;
}

section.pic2 {
    grid-area: pic2;
    background: rgb(255, 0, 17);
}
section.pic3 {
    grid-area: pic3;
    background: rgb(245, 152, 3);
}
section.pic4 {
    grid-area: pic4;
    background: rgb(3, 248, 44);
}
section.pic5 {
    grid-area: pic5;
    background: rgb(0, 21, 255);
}
section.pic6 {
    grid-area: pic6;
    background: rgb(252, 0, 210);
}

footer {
   grid-area: footer;
   background: #f6fa09;   
}


